# ==========================================
# MINGGU 3 - SECURITY BEST PRACTICES
# Mencegah file sensitif ikut terunggah.
# ==========================================

.env
mysql_data/
wordpress_data/
minio_data/
.DS_Store